<%- include("template/cabecera", {tituloWeb: 'Pagina de inicio'}) %>

    <div class="container">

        <h1  class="m-3" style="color: rgb(153, 15, 79);"> ---CRUD MONGO---</h1>
        <a type="submit" class="btn btn-outline-dark btn-block my-4" href="/mascotas/crear">Crear nueva mascota</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <% if (listaMascotas.length > 0 ) { %>
                    <% listaMascotas.forEach(mascota => { %>
                        <tr>
                            <th scope="row"><%= mascota.id %></th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td>
                                <a href="mascotas/<%= mascota.id %>"
                                    class="btn btn-outline-info"> Editar </a>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

<%- include("template/footer") %>